arrow
beautifulsoup4==4.9.3
blinker==1.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-Limiter==1.4
gunicorn==20.0.4
html5lib==1.1
ics==0.7
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpickle==2.0.0
limits==1.5.1
MarkupSafe==1.1.1
psycopg2==2.8.6
python-dateutil==2.8.1
python-http-client==3.3.2
redis==3.5.3
requests==2.25.1
rq==1.7.0
sendgrid==6.6.0
six==1.15.0
soupsieve==2.2
starkbank-ecdsa==2.0.1
TatSu==5.5.0
urllib3==1.26.5
webencodings==0.5.1
Werkzeug==1.0.1
